# FROM ubuntu:22.04

# ENV DEBIAN_FRONTEND=noninteractive

# RUN apt-get update 
# RUN apt-get install -y python3.10 python3-pip
# RUN apt install libmagic1 -y

# WORKDIR /app

# COPY . .

# VOLUME /app/sessions

# RUN python3 -m pip install -r requirements.txt

# CMD ["python3", "main.py"]

#convert to yml

version: '3'
services:
  app:
    image: ubuntu:22.04
    volumes:
      - ./sessions:/app/sessions
    working_dir: /app
    build:
      context: .
      dockerfile: Dockerfile